<div>
    <app-widget-area> </app-widget-area>
</div>
<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Crops" total="12k" percentage="50" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" percentage="40"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" percentage="30"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" percentage="20" ></app-widget-card>
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>


<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">
        <div class="mat-elevation-z8">
            <table mat-table >

                
                <ng-container matColumnDef="position">
                    <th mat-header-cell> No. </th>
                    <td mat-cell > tata </td>
                </ng-container>

                
                <ng-container matColumnDef="position">
                    <th mat-header-cell> No. </th>
                    <td mat-cell > tata </td>
                </ng-container>

               
                <ng-container matColumnDef="position">
                    <th mat-header-cell> No. </th>
                    <td mat-cell > tata </td>
                </ng-container>

                <ng-container matColumnDef="position">
                    <th mat-header-cell> No. </th>
                    <td mat-cell > tata </td>
                </ng-container>

                <tr mat-header-row ></tr>
                <tr mat-row></tr>
            </table>

        </div>

    </div>
    <div fxFlex="40">
        <app-widget-pie ></app-widget-pie>
    </div>
</div> -->