<div>
<header>
	<div class="overlay">
<h1>Harvest Home</h1>
<h3>Grow Your Own Crops!</h3>
<h2>A fully Managed system that can boost your home farming process..</h2>
	<br>
	<button href="">READ MORE ON MEDIUM.COM</button>
		</div>
</header>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="row" style="width: 100%;">
    <div class="col-sm-3 text-center">
      <button class="btn btn-primary btn-lg" routerLink = "/dashboard" > DashBoard </button>
    </div>
    <div class="col-sm-3 text-center">
      <button class="btn btn-danger btn-lg" routerLink = "/profit"> Profits </button>
    </div>
    <div class="col-sm-3 text-center">
      <button class="btn btn-danger btn-lg" routerLink = "/homegarden"> My Garden </button>
    </div>
    <div class="col-sm-3 text-center">
      <button class="btn btn-primary btn-lg" (click)="navigatetoMonitor()"> Monitoring and Maintenance </button>
    </div>
</div>