
<div class="jumbotron" style=" background:url('../assets/images/finalBg3.png');background-size: cover; background-repeat: no-repeat;">
  <div class="container" style="margin-top:10%">
    <h1 class="display-3" style="color:rgb(32, 48, 32);
    font-size: 40px; " >Home Harvest!</h1>
    <p style="color:rgb(3, 5, 3);
    font-size: 20px;">Grow Your Own Crops...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-sm">
    <a routerLink = "/dashboard"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-users"></i></span>
   <br>Dashboard
 </a>
  </div>
  <div class="col-sm">
    <a routerLink = "/profit"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-mobile"></i></span>
   <br> Profits
 </a>
  </div>
  <div class="col-sm">
    <a routerLink = "/homegarden"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-users"></i></span>
   <br>My Garden
 </a>
  </div>
  <div class="col-sm">
    <a routerLink = "/gardencreate"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-users"></i></span>
   <br>Create Garden
 </a>
  </div>
  <div class="col-sm">
    <a routerLink = "/gardenlist"
    role="button"
    class="btn btn-outline-primary btn-lg btn-block text-center">
   <span><i class="fa fa-users"></i></span>
   <br>Garden List
 </a>
  </div>
</div>
</div>

