<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="60">

        <div class="row">
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img  width="200px" height="140px"  src="/assets/images/fruitbasckt.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img  width="200px" height="140px"  src="/assets/dashboard.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Cute Horse</h5>
                  <p class="card-text">Some quick example text's content.</p>
                  <a href="#" class="btn btn-primary">View Horse</a>
                </div>
              </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img  width="200px" height="140px"  src="/assets/dashboard.png" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Cute Horse</h5>
                    <p class="card-text">Some quick example text's content.</p>
                    <a href="#" class="btn btn-primary">View Horse</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img  width="200px" height="140px"  src="/assets/dashboard.png" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">Cute Horse</h5>
                    <p class="card-text">Some quick example text's content.</p>
                    <a href="#" class="btn btn-primary">View Horse</a>
                  </div>
                </div>
              </div>
        </div>

    </div>
    <div fxFlex="40">
        <app-widget-pie ></app-widget-pie>
    </div>
</div>