<div class="row justify-content-center align-items-center" >
  <div class="col-sm">
    <div class="card" style="width: 18rem;" href="/">
      <img  width="200px" height="160px"  src="/assets/images/fruitbasckt.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Cute Horse</h5>
        <p class="card-text">Some quick example text's content.</p>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img  width="200px" height="160px"  src="/assets/dashboard.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Cute Horse</h5>
        <p class="card-text">Some quick example text's content.</p>
        <a href="/gardenlist" class="btn btn-primary">List My Gardens</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img  width="200px" height="160px" src="/assets/images/fruitbasckt.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Cute Horse</h5>
        <p class="card-text">Some quick example text's content.</p>
        <a href="/gardencreate" class="btn btn-primary">Create Garden</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <img  width="200px" height="160px" src="/assets/images/fruitbasckt.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Cute Horse</h5>
        <p class="card-text">Some quick example text's content.</p>
        <a href="#" class="btn btn-primary">Browse Crops</a>
      </div>
    </div>
  </div>
</div>