<!-- <div class="container" >
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">My Garden</h2>
      <a href="/" class="btn btn-outline-success">Go Back!</a>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%;  border-radius: 21px 21px 0 0;">
      <div class="card" style="margin-top: 5;" >
        <img  width="200px" height="160px" src="../../../assets/homegreenbg2.JPG" class="card-img-top">
      </div>
    </div>
  </div>
  <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">List All Gardens</h2>
      <a href="/gardenlist" class="btn btn-info">List Gardens!</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Create a new Garden </h2>
      <a href="/gardencreate" class="btn btn-outline-info">Create Gardens!</a>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Buy More Crops</h2>
      <a href="/gardencrops" class="btn btn-info">Get Crops!</a>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>
</div> -->


 <!-- page-header -->
 <div class="page-header">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                  <h1 class="page-title">My Home Garden</h1>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /.page-header-->
<!-- news -->
<div class="card-section">
  <div class="container">
      <div class="card-block bg-white mb30">
          <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <!-- section-title -->
                  <div class="section-title mb-0">
                      <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

                        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="height: 220px;">
                          <div class="my-3 py-3" >
                            <h2 class="display-5" style="color: white;">My Garden</h2>
                            <a href="/" class="btn btn-outline-success" style="color: white;">Go Back!</a>
                          </div>
                        </div>

                        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="height: 220px;">
                          <div class="my-3 p-3">
                            <h2 class="display-5">List All Gardens</h2>
                            <a href="/gardenlist" class="btn btn-info">List Gardens!</a>
                          </div>
                          <div class="bg-dark shadow-sm mx-auto" style="width: 80%;  border-radius: 21px 21px 0 0;"></div>
                        </div>

                        <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="height: 220px;">
                          <div class="my-3 py-3">
                            <h2 class="display-5" style="color: white;">Create a new Garden </h2>
                            <a href="/gardencreate" class="btn btn-outline-info" style="color: white;">Create Gardens!</a>
                          </div>
                          <div class="bg-light shadow-sm mx-auto" style="width: 80%;  border-radius: 21px 21px 0 0;"></div>
                        </div>

                        <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="height: 220px;">
                          <div class="my-3 p-3">
                            <h2 class="display-5">Buy More Crops</h2>
                            <a href="/gardencrops" class="btn btn-info">Get Crops!</a>
                          </div>
                          <div class="bg-dark shadow-sm mx-auto" style="width: 80%;  border-radius: 21px 21px 0 0;"></div>
                        </div>
                      </div>
                      </div>
              </div>
          </div>
      </div>
      </div>
      </div>
   