
  <div class="container text-center" style="padding:10px" *ngIf="loaded">

    <div class="row">
      <div class="col-8" >

        <div class="row">
          <div class="col-4"> 
            <a (click)="navigateBack()" class="btn btn-outline-info" style="color:black;">Go Back!</a>
          </div>
          <div class="col-8">
            <h1 class="card-header">Identified Issues</h1>
          </div>
        </div>
        <!-- <div><h1 class="card-header">Identified Issues</h1></div> -->


        <owl-carousel-o [options]="customOptions">


          <ng-template carouselSlide  *ngFor="let slide of cropInfo"> 

            <!-- <div class="card" style="width: 18rem; padding: 5px; color: rgb(78, 56, 56);
            padding:  15px;
            border: 5px solid #555555 ;
            border-radius: 20px;
            height: 330px;" >
              <img  width="200px" height="100px"  src="../../../assets/images/tomato.jpg" class="rounded-pill">
              <div class="card-body">
                <div class="alert  alert-danger alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'High'">
                  <h2>{{slide.crop}}</h2>
                  <h3>{{slide.severity}} Issue!</h3>
                  <a class="btn btn-success">Resolve</a>
              </div>
              <div class="alert  alert-success alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'Medium'">
                <h2>{{slide.crop}}</h2>
                <h3>{{slide.severity}} Issue!</h3>
                <a class="btn btn-success">Resolve</a>
            </div>
            <div class="alert  alert-primary alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'Low'">
              <h2>{{slide.crop}}</h2>
              <h3>{{slide.severity}} Issue!</h3>
              <a class="btn btn-success">Resolve</a>
          </div>
              </div>
            </div> -->

            <div class="card-sl" style="width: 18rem; height: 20rem;">          
              <a class="card-action"><i class="fa fa-exclamation-triangle"></i></a>

              <img  width="80px" height="100px"  src="../../../assets/images/tomato.jpg" >
              <div class="alert  alert-danger alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'High'">
                <h2>{{slide.crop}}</h2>
                <h3>{{slide.severity}} Issue!</h3>
                <a class="btn btn-success">Resolve</a>
            </div>


              <div class="alert  alert-success alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'Medium'">
                <h2>{{slide.crop}}</h2>
                <h3>{{slide.severity}} Issue!</h3>
                <a class="btn btn-success">Resolve</a>
            </div>


              <div class="alert  alert-primary alert-dismissable fade show" role="alert" *ngIf = "slide.severity === 'Low'">
                <h2>{{slide.crop}}</h2>
                <h3>{{slide.severity}} Issue!</h3>
                <a class="btn btn-success">Resolve</a>
            </div>
          </div>      
          </ng-template>  
        </owl-carousel-o>

        <br/>
        <br/>
    
        <div><button class="btn btn-primary btn-lg" routerLink = "/maintaingarden" > Go to Crop Maintenance! </button></div>
      </div>
      <div class="col-4">

 
        <!-- soil moisture levels, air temperature, soil temperature, fertilizer levels, and ambient light levels -->
        <h1 class="card-header">Average Levels</h1>   

        <div class="container2 overflow-hidden " id="status"> 
        
          <div class="row gy-5" style="color: rgb(78, 56, 56);padding:  15px;border: 5px solid #555555 ;border-radius: 70px;">
          <div class="col-6">
            <div class="p-3 border bg-light">
              <div>
                <h5 class="card-title">Total Records</h5>
                <h1>{{totalSensorRecords}}</h1>
                <a class="btn btn-primary">Sensor Records</a>
              </div>
            </div>
          </div>        
            <div class="col-6">
              <div class="p-3 border bg-light">
                <div>
                  <h5 class="card-title">soil moisture levels</h5>
                  <h1>{{finalaverageSoilMoisture}} %</h1>
                  <a class="btn btn-primary">Soil Moisture Levels</a>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="p-3 border bg-light">
                <div>
                  <h5 class="card-title">air temperature</h5>
                  <h1>{{finalaverageAirTemperature}} %</h1>
                  <a class="btn btn-primary">Air Temperature</a>
                </div>
              </div>
            </div>
  
            <div class="col-6">
              <div class="p-3 border bg-light">
                <div>
                  <h5 class="card-title">fertilizer levels</h5>
                  <h1>{{finalaverageFertilizerLevels}} %</h1>
                  <a href="/gardenlist" class="btn btn-primary">List My Gardens</a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row gy-5">
            <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
            <div class="col-6">
              <div class="p-3 border bg-light">Custom column padding</div>
            </div>
          </div> -->

          
        </div>


        
      </div>
    </div>



<div class="container text-center">

 


</div>